.layout {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.layout svg {
	position: absolute;
}

.center-image {
	position: absolute;
	height: calc(100vh - 200px);
	aspect-ratio: 1 / 1;
	left: 72%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.container {
	position: absolute;
	height: calc(100vh - 100px);
	width: 400px;
	left: 5%;
	top: 50%;
	transform: translate(0%, -50%);
}

@media (max-width: 1098px) {
	.container {
		width: 400px;
	}
}

.logo-black {
	display: none;
}

@media (max-width: 940px) {
	.center-image {
		display: none;
	}
	.curvatura {
		opacity: 0.3;
	}
	.container {
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
	}

	.logo-white {
		display: none;
	}
	.logo-black {
		display: block;
	}
}

@media (min-width: 940px) {
	.text-title {
		color: var(--color-inverse);
	}
}

@media (max-width: 556px) {
	.container {
		width: calc(100vw - 70px);
	}
}
