<button
	class="item-sidebar flex items-center gap-xs cursor-pointer px-xxs py-xs w100 br-sm"
    [ngClass]="{'item-selected': estaSeleccionado()}"
    (click)="seleccionar()"
    [routerLink]="ruta()"
    >
	<div class="flex" style="min-width: 22px; min-height: 22px">
		<span
			class="m-auto"
			trackuiIcon
			[nombre]="nombreIcon()"
			style="font-size: 16px"
		></span>
	</div>

	<div class="label-wrapper">
		@if (isExpanded()) {
			<p @fadeLabel class="whitespace-nowrap">
				{{ label() }}
			</p>
		}
	</div>
</button>
