.sidebar-app {
  position: relative;
  height: 100%;
  transition: width 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 200px;

  &.expanded {
    width: 250px;
  }

  &:not(.expanded) {
    width: 72px;
  }
}

.btn-collapse {
  position: absolute;
  top: 16px;
  right: -12px;
}

.btn-collpse__icon {
    transform: rotate(180deg);
}

.max-estiramiento {
    width: 200px;
}

.min-estiramiento {
    width: 50px;
}