<aside
	class="sidebar-app br-sm border-cuaternary-2 background-cuaternary-0 p-sm h100"
	[class.expanded]="isExpanded()"
>
	<!-- Botón collapse -->
	<button
		class="btn-collapse flex items-center br-50 background-tertiary-5 p-xxxs tw-shadow-md"
		(click)="colapsar()"
	>
		<span
			class="text-inverse transition-transform"
			[style.transform]="isExpanded() ? 'rotate(180deg)' : 'rotate(0deg)'"
			trackuiIcon
			nombre="derecha"
			style="font-size: 16px"
		></span>
	</button>

	<section class="flex-column gap-xs">
		<item-sidebar-app

            class="w100"
			[isExpanded]="isExpanded()"
            ruta = ""
			nombreIcon="home"
			label="Dashboard"
            [(controlItem)]="controlOpcionSeleccionada"
		/>
		<item-sidebar-app
            class="w100"
			[isExpanded]="isExpanded()"
            ruta = "grafo"
			nombreIcon="grafo"
			label="Grafo"
            [(controlItem)]="controlOpcionSeleccionada"
		/>
	</section>
</aside>
