<div class="flex-column gap-md">
	<form
		[formGroup]="form"
		(ngSubmit)="submit()"
		class="flex flex-column gap-lg"
	>
		<p class="text-color-inverse">
			Bienvenido de nuevo. Por favor inicie sesión en su cuenta
		</p>
		<div class="socia-buttons flex gap-xs justify-space-beetween">
			<button class="text-color-black" trackuiSocialButton [style]="'black'" nameLogo="facebook">
				Facebook
			</button>
			<button class="text-color-black" trackuiSocialButton [style]="'black'" nameLogo="google">
				Goggle
			</button>
		</div>

		<div class="flex-column gap-sm">
			<trackui-input
				class="input"
				label="Correo"
				icono="correo"
				[isErasable]="true"
				[formControl]="email"
			></trackui-input>
			<trackui-input
				class="input"
				label="Contraseña"
				icono="candado"
				[formControl]="password"
			></trackui-input>
		</div>
		<div class="flex justify-space-beetween items-center">
			<app-trackui-checkbox class="text-color-secondary-1" label="Recordarme"></app-trackui-checkbox>
			<button class="text-color-secondary-2" trackuiButton tipo="link">¿Olvidó su contraseña?</button>
		</div>
		<button trackuiButton tipo="tertiary" type="submit" [disabled]="loading" class="justify-center">
			Iniciar sesión
		</button>
	</form>
	<div class="flex justify-center gap-xxs">
		<p class="text-color-inverse">¿No tienes cuenta?</p>
		<button class="text-color-secondary-2" trackuiButton tipo="link" routerLink="/auth/register">Regístrate</button>
	</div>
</div>
