<main class="p-sm flex-column gap-sm h100-screen">
	<header
		class="tw-flex tw-items-center tw-justify-between tw-bg-inverse tw-border tw-border-primary-1 br-sm tw-shadow-md tw-py-2 tw-px-4 tw-gap-sm tw-w-full"
	>
		<!-- Logo + Nombre -->
		<div class="tw-flex tw-items-center gap-xs">
			<img
				src="logos/learntrack-logo-medium.png"
				alt="PeruAdapta logo"
				class="tw-h-10 tw-w-10 tw-rounded-full tw-object-contain"
			/>
			<span
				class="tw-text-primary-7 tw-font-semibold tw-text-lg tw-whitespace-nowrap"
			>
				LearnTrack
			</span>
		</div>

		<!-- Barra de progreso dinámica -->
		<div *ngIf="isProgressVisible" class="tw-flex tw-items-center tw-gap-2">
			<span class="tw-text-base tw-font-semibold tw-text-primary-7"
				>Diagnóstico: {{ progress }}%</span
			>
			<div class="tw-relative tw-w-48 tw-h-2 tw-bg-gray-300 tw-rounded-full">
				<div
					class="tw-absolute tw-h-full tw-bg-primary-7 tw-rounded-full"
					[style.width.%]="progress"
				></div>
			</div>
		</div>

		<!-- Dropdown usuario -->
		<div class="tw-relative" (click)="toggleDropdown()">
			<button
				type="button"
				class="tw-flex background-secondary-0 tw-items-center gap-xs br-sm tw-py-1 tw-px-2 hover:tw-bg-neutral-0 tw-transition"
			>
				<img
					src="images/user-avatar.webp"
					alt="Usuario"
					class="tw-w-8 tw-h-8 tw-rounded-full tw-object-cover"
				/>
				<span class="tw-text-base tw-font-medium">Carlos</span>
				<span
					trackuiIcon
					nombre="flecha-abajo"
					[ngClass]="{ 'icon-rotate': isOpen }"
				></span>
			</button>

			<!-- Dropdown menu -->
			<div
				*ngIf="isOpen"
				class="tw-absolute tw-right-0 tw-mt-2 tw-w-56 tw-bg-inverse tw-rounded-2xl tw-shadow-xl tw-border tw-border-neutral-5 tw-z-50 tw-overflow-hidden"
			>
				<ul class="tw-py-2 tw-text-sm tw-text-base tw-flex tw-flex-col">
					<li>
						<a
							href="#"
							class="tw-flex tw-items-center tw-gap-xs tw-px-4 tw-py-2 hover:tw-bg-primary-0 tw-transition"
						>
							<i class="bi bi-person tw-text-primary-5"></i> Perfil
						</a>
					</li>
					<li>
						<a
							href="#"
							class="tw-flex tw-items-center tw-gap-xs tw-px-4 tw-py-2 hover:tw-bg-primary-0 tw-transition"
						>
							<i class="bi bi-gear tw-text-primary-5"></i> Configuración
						</a>
					</li>
					<li><hr class="tw-my-1 tw-border-neutral-5" /></li>
					<li>
						<a
							href="#"
							class="tw-flex tw-items-center tw-gap-xs tw-px-4 tw-py-2 tw-text-danger-5 hover:tw-bg-danger-0 tw-transition"
						>
							<i class="bi bi-box-arrow-right"></i> Cerrar sesión
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<section class="flex gap-sm h100">
		<!-- Contenedor del contenido principal -->
		<section class="expanded br-sm">
			<router-outlet />
		</section>
	</section>
</main>
