.toast {
	position: fixed;
	top: 16px;
	left: 50%;
	transform: translate(-50%, -120%);
	opacity: 0;
	z-index: 9999;

	min-width: 280px;
	max-width: 90%;

	transition: transform 0.35s ease, opacity 0.35s ease;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

	pointer-events: none;
}

.toast.show {
	transform: translate(-50%, 0);
	opacity: 1;
	pointer-events: auto;
}
